---
layout: page
title: Articles
permalink: /articles/
---

<div class="main-container portfolio-inner clearfix">
    <div class="portfolio-div">
        <div class="portfolio">

            <div class="categories-grid wow fadeInLeft">
                <nav class="categories text-center">
                    <ul class="portfolio_filter">
                        <li><a href="" class="active" data-filter="*">All</a></li>
                        <li><a href="" data-filter=".game">Game</a></li>
                        <li><a href="" data-filter=".news">News</a></li>
                        <li><a href="" data-filter=".programming">Programming</a></li>
                        <li><a href="" data-filter=".drawing">Drawing</a></li>
                        <li><a href="" data-filter=".music">Music</a></li>
                    </ul>
                </nav>
            </div>

            {% assign post_count = 0 %}
            {% for post in site.posts %}
              {% if post_count == 0 %}
                <div class="no-padding portfolio_container clearfix">
              {% endif %}
              {% assign post_count = post_count | plus:1 %}
                <div class="col-md-3 col-sm-6 {% for category in post.categories %} {{ category }} {% endfor %}">
                  <a href="{{ post.url }}" class="portfolio_item">
                    <img src="/img/showcase/{{ post.image }}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                      <div class="portfolio-border clearfix">
                        <div class="item_info">
                          <span>{{ post.title }}</span>
                          <em>{% for category in post.categories %} {{ category }} /{% endfor %}</em>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% if post_count == 4 %}
                {% assign post_count = 0 %}
                </div>
              {% endif %}
            {% endfor %}

        </div>
    </div>
</div>