<footer>
  <div class="container-fluid">
    <p class="copyright">© Paperstart Games 2017</p>
  </div>
</footer>

<!-- back to top -->
<a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
<!-- end back to top -->

<!-- jQuery -->
<script src="/js/jquery-2.1.1.js"></script>
<!--  plugins -->
<script async src="/js/bootstrap.min.js"></script>
<script async src="/js/menu.js"></script>
<script async src="/js/animated-headline.js"></script>
<script async src="/js/isotope.pkgd.min.js"></script>


<!--  custom script -->
<script async src="/js/custom.js"></script>
