<footer>
  <div class="container-fluid">
    <p class="copyright">© Paperstart Games 2017</p>
  </div>
</footer>

<!-- back to top -->
<a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
<!-- end back to top -->

<!-- jQuery -->
{% js jquery-2.1.1 %}
<!--  plugins -->
<script async src="{% asset_path modernizr.js %}"></script>
<script async src="{% asset_path bootstrap.min.js %}"></script>
<script async src="{% asset_path menu.js %}"></script>
<script async src="{% asset_path animated-headline.js %}"></script>
<script async src="{% asset_path isotope.pkgd.min.js %}"></script>
<script async src="{% asset_path custom.js %}"></script>
