<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Paperstart Games | {{ page.title }}">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paperstart Games | {{ page.title }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% asset_path favicons/apple-icon-57x57.png %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% asset_path favicons/apple-icon-60x60.png %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% asset_path favicons/apple-icon-72x72.png %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% asset_path favicons/apple-icon-76x76.png %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% asset_path favicons/apple-icon-114x114.png %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% asset_path favicons/apple-icon-120x120.png %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% asset_path favicons/apple-icon-144x144.png %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% asset_path favicons/apple-icon-152x152.png %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% asset_path favicons/apple-icon-180x180.png %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% asset_path favicons/android-icon-192x192.png %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% asset_path favicons/favicon-32x32.png %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% asset_path favicons/favicon-96x96.png %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% asset_path favicons/favicon-16x16.png %}">
    <link rel="manifest" href="{% asset_path favicons/manifest.json %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% asset_path favicons/ms-icon-144x144.png %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap -->
    {% css bootstrap.min %}
    <link href="/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- main css -->
    {% css main %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>