---
layout: page
---

<div class="container main-container">
  <div class="col-md-12">
    <img src="{% asset_path article/'{{ page.image }}' %}" alt="" class="img-responsive" />
    <div class="h-30"></div>
  </div>

  <div class="col-md-12">
    <h3 class="text-uppercase">{{ page.title }}</h3>
    <h5>{{ page.author }} - {{ page.date | date_to_string }}</h5>
    <div class="h-30"></div>
  </div>

  <div class="col-md-9">
    {{ content }}
  </div>

  <div class="col-md-3">
    <ul class="cat-ul">
      {% for category in page.categories %}
        <li><i class="ion-ios-circle-filled"></i>{{ category }}</li>
      {% endfor %}
    </ul>
    <div class="h-10"></div>
    <h4>Share</h4>
    <ul class="social-ul">
      {% include social.html %}
    </ul>
  </div>
</div>
